<h3>Acount Details</h3>
<p>Credit Limit:<%= @credit_line.credit_limit %></p>
<p>APR:<%= @credit_line.apr %>%</p>
<p>Balance:<%= @credit_line.balance.round(2) %></p>
<p>Remaining Credit:<%= @credit_line.remaining_credit %></p>
<p>Billing Cycle End Date: <%= calculate_end_date(@credit_line.billing_start_date) %>
<p>Accrued Interest:<%= @credit_line.accrued_interest.round(2) %></p>
