<h1>Create Account</h1>

<%= form_for [@user, @credit_line] do |f| %>
  <% if @credit_line.errors.any? %>
    <div class="error_messages">
      <ul>
        <% for message in @credit_line.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  Credit Limit: <%= f.text_field :credit_limit %>
  <br>
  APR(in %): <%= f.text_field :apr %>
  <br>
  <%= f.hidden_field :user_id, value: @user.id %>
  <%= f.submit "Submit" %>

<% end %>