<h1>Enter Amount</h1>

<%= form_for [@user, @credit_line, @transaction], :url => { action: @category } do |f| %>
  <% if @transaction.errors.any? %>
    <div class="error_messages">
      <ul>
        <% for message in @transaction.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  Amount: <%= f.text_field :amount %>
  <br>
  Date: <%= f.datetime_field :transaction_date%>
  <br>
  <%= f.hidden_field :category, value: @category %>
  <%= f.hidden_field :credit_line_id, value: @credit_line.id %>
  <%= f.submit "Submit" %>

<% end %>