<h2>User Details</h2>
<div id="user_details" >
  <h4>Name: <%= @user.name %></h4>
  <h5>Email: <%= @user.email %></h5>  
</div>
<br>
<div id="account_details" >
  <% if @credit_line.present? %>
    <%= render 'credit_lines/show' %>
    <%= link_to "Delete Credit Line", user_credit_line_path({credit_line_id: @credit_line.id, user_id: @user.id}), method: :delete,
                                  data: { confirm: "You sure?" } %>
    <br>
    <br>
    <% if @credit_line.check_interest_payment_day? %>
      <%= form_tag user_credit_line_get_monthly_bill_path({credit_line_id: @credit_line.id, user_id: @user.id}), method: :get do %>
        <%= submit_tag 'Get Monthly Bill' %>
      <% end %>
    <% end %>
    <br>
    <%= link_to "Withdraw", user_credit_line_transactions_form_path( { category: 'draw', credit_line_id: @credit_line.id, user_id: @user.id}) %>
    <br>
    <%= link_to "Pay", user_credit_line_transactions_form_path( { category: 'pay', credit_line_id: @credit_line.id, user_id: @user.id}) %>
    <br>
    <br>
    <h4><%= link_to "Show Transactions", user_credit_line_transactions_path(@user,@credit_line) %></h4>
    <%= form_tag user_credit_line_move_back_date_path({credit_line_id: @credit_line.id, user_id: @user.id}), method: :get do %>
      <%= submit_tag 'Moveback credit start date' %>
    <% end %>
  <% else %>
    <div id="create_account" >
      <span>Create Account </span><%= link_to 'Create', new_user_credit_line_path(@user) %>
    </div>
  <% end %>
</div>
