<h3>Transactions</h3>

<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Type</th>
    <th>Passed/Failed</th>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.transaction_date.strftime("%m/%d/%Y") %></td>
      <td><%= transaction.amount.round(2) %></td>
      <td><%= transaction_type(transaction.category) %></td>
      <td><%= status(transaction.good) %></td>
    <tr>
  <% end %>
</table>
<p><%= link_to "Back to account details", user_path(current_user) %><p>